/* @media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
} */

.row {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
}

.sketched {
    background-color: black;
}

.container {
    width: 960px;
}