/* @media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
} */

.row {
    display: flex;
    flex: 1;
}

.block {
    border: 1px solid gray;
    flex: 1;
}

.sketched {
    background-color: black;
}

.container {
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column;
}